body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('purpleflowers3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

h1 {
    color: white;
    text-align: center;
}

h2 {
    font-size: 1.3em;
}

a {
    color:rgb(6, 6, 138)
}

.general {
    margin-right: 200px;
    margin-left: 200px;
}

.text {
    border-style: solid;
}

.first {
    background-color: black;
    padding: 15px;
}

.second {
    background-color: gray;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 90px;
    padding-left: 90px;
}

.third {
    background-color: white;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 90px;
    padding-left: 90px;
}

.last {
    color: black;
    background-color: rgb(158, 57, 158);
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 90px;
    padding-left: 90px;
}

p.top { 
    margin-top: -14px; 
}

.ring {
    width: "50px";
    height: "50px";
}
